DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/postgres
SECRET_KEY=change_me

FASTAPI_ENV=development
APP_VERSION=1
LOGGING_LEVEL=INFO

SERVICE_NAME=WEB
ENABLE_REQUEST_UUID=true
ENABLE_SERVER_UUID=true
REQUEST_UUID_HEADER=X-Request-UUID
SERVER_UUID_HEADER=X-Server-UUID
UUID_SERVER=
GENERATE_UUID_SERVER=true
LOG_REQUEST_BODY=true
LOG_REQUEST_BODY_MAX_BYTES=10000

REDIS_HOST=redis
REDIS_PORT=6379
WORKER_METRICS_PORT=9100
SCHEDULER_METRICS_PORT=9101

ENABLE_SENTRY=false
SENTRY_DSN=
SENTRY_API_DSN=
